@media (max-width: 1200px)
    .container 
        max-width: 960px

    .hotel-slider
        width: 100%
    .card
        width: 220px
        height: 220px
    .footer
        &__input
            flex-basis: 100%

@media (max-width: 992px)

    .container, 
    .newsletter-wrapper
        max-width: 700px
        width: 92%

    .logo
        width: 132px

    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px

        &__search
            margin-left: 47px

        &__buttom
            padding-top: 20px
            padding-bottom: 20px
    .search

        &__input
            width: 340px
    .nav 
        &__list
            justify-content: flex-start
        &__item
            margin-left: 28px     
          
            &:nth-child(3)
                margin-left: 13px
        &__link
            padding: 20px 0
            font-size: 12px
    .rating
        margin-top: 5px        
                
        &__link
            padding: 23px 0
            font-size: 12px
            line-height: 18px
    .hotel
        padding-top: 17px 
        padding-bottom: 54px
        &-grid
            flex-direction: column

        &__slider
            margin-bottom: 30px

        &-right
            flex-direction: row

        .booking
            width: 340px
            padding: 28px 23px 30px 22px
            margin-right: 20px
    .slider
        width: 100%

    .map
        width: 340px
    .newsletter-wrapper
        margin: -4px auto
    .reviews
        padding: 45px 0 70px
        &__title
            font-size: 30px
            margin-bottom: 48px
        &-slider
            &__item
                max-width: 580px
            &__avatar
                margin-bottom: 7px
            &__profile
                margin-bottom: 30px
            &__button
                top: 49%
                &--prev
                    left: 0
                &--next
                    right: 0

    .activites
        padding: 68px 0 98px 0
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
        &__card:nth-last-child(-n+2)
            margin-bottom: 0
            
    .card
        height: 256px
        width: 339px
        &__title
            max-width: 200px

    .footer
        padding-top: 73px
        &__wrapper
            
        &__input
            flex-basis: 49%
        &__logo
            grid-row: 1/2
             
        &__social
            &-network
                grid-row: 1/2
                grid-column: 7/18
                align-self: center
              
        &__categories
            grid-row: 2/3
            grid-column: 1/6
            padding: 0
            
        &__legal
            grid-row: 2/3
            grid-column: 13/19
            padding: 0
        &__additional
            grid-row: 2/3
            grid-column: 6/13
            
        &__contact
            &-details
                grid-row: 3
                grid-column: 1/18

                
            &-form
                grid-row: 4
                grid-column: 1/15
        &__bottom
            justify-content: space-between
            &-ul
                margin: 0
                padding: 0
    .modal
        &__dialog
            width: 80%
            padding: 33px 50px
  
@media ( max-width:768px)
    .offer
        line-height: 11px
    .hotel
        &-name
            line-height: 32px
    .newsletter
        padding: 98px 0 95px
    .activites
            padding: 70px 0 69px 0
    .reviews
        padding: 38px 0 70px
    .footer
        padding: 40px 0 46px
        &-wrapper
            grid-gap: 46px 30px
        &__logo
            &-img
                width: 75%
        &__title
            
            &--inlaine
                margin-right: 46px
            
        &__social
            &-network
                padding-top: 36px
                grid-column: 5/18
                padding-left: 23px
            &-links
                margin-bottom: -6px
        &__additional
                
        &__legal
            
        &__item
           
        &__contact
            &-details
                padding-top: 20px
                    
        &__text
            font-size: 14px
        &__input
            flex-basis: 47%
            &-left
    .modal
        &__dialog 
            padding: 35px 40px

@media (max-width: 576px )
    .container,
    .newsletter-wrapper
        max-width: 576px
    body.lock
        overflow: hidden
    body
        padding-top: 78px
        
    .navbar
        &--mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                width: 100%
                z-index: 99

        &__user, &__search
            &--mobile
                &_hiden
                    display: none
        &__user
            flex-direction: column
            justify-content: center
        &__buttom
            position: fixed
            top: 67px
            right: -100%
            bottom: 0
            padding-top: 30px 
            transition: 0.5s 
            &--active
                display: block
                top: 67px
                overflow: auto
                right: 0
                width: 100%
               
        .nav
            &__list
                flex-direction: column
            &__item
                margin-bottom: 20px
                &--mobile
                    margin-left: 0
                    &:nth-last-child(-n+1)
                        margin-bottom: 0
                        
                    &_active
                        display: block
                        margin-left: auto
                        margin-right: auto
                        width: 290px

            &__link
                &--mobile
                    &_active
                        padding: 10px 0
        .user
            &__name
                color: $light
                margin-left: 0
                margin-top: 10px
    
        &__search
            &--mobile
                &_active
                    margin-left: 0


    .menu

        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #fff
            cursor: pointer

            &__line
                width: 16px
                height: 1px
                background-color: $text-color
               
    .stars
        flex-basis: auto

    .hotel
        &-name
            flex-basis: 100%

        &-wrapper
            justify-content: space-between

        &-info
            &__text
                width: 100%

            &__name
                margin-top: 10px

            &__rating
                display: none

            &__offer
                order: -1
                margin-left: 0

        &-right
            flex-direction: column
            min-height: 445px

        .booking
            width: 100%

        .map
            width: 100%

        .swiper-slide
            height: 350px

    .newsletter
        &-wrapper
            flex-direction: column
            align-items: flex-start
        &__title
            margin-bottom: 37px
            margin-left: 0
        .subscribe
            width: 300px
    
    .reviews
        &__title
            max-width: 235px
            font-size: 18px
            line-height: 23px
        &-slider
            &__item
                padding: 0 30px 30px
                &::after, &::before
                    display: none
            &__button
                top: 32px
                
                &--prev
                    left: 50%
                    transform: translate(-50%, 0)
                    margin-left: -92px
                &--next
                    right: 50%
                    transform: translate(50%, 0)
                    margin-right: -92px
    .activites
        padding-top: 40px
        padding-bottom: 60px
        &-wrapper
            flex-direction: column

    .card
        width: 100%
    .card:nth-last-child(-n+2)
        margin-bottom: 20px
    .card:nth-last-child(-n+1)
        margin-bottom: 0
    .card:nth-child(2n)
        order: 1

    .footer
        &-wrapper
            grid-template-columns: 1fr
        &__logo
            grid-row: 1
            grid-column: 1 
        &__categories
            grid-row: 2
            grid-column: 1
        &__additional
            grid-row: 3
            grid-column: 1
        &__social
            &-network
                grid-row: 4
                grid-column: 1
                padding: 0
                
        &__legal
            grid-row: 5
            grid-column: 1
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1
        &__input
                flex-basis: 100%

    .modal
        &__dialog 
            width: 70%
            padding: 10px 20px
        &__input
            font-size: 12px
            line-height: 15px
            margin-bottom: 10px
        &__message
            min-height: 50px
            font-size: 12px
            line-height: 15px
            height: 150px
        &__info
            font-size: 12px
            line-height: 15px
            flex-basis: 100%
            order: 1
            color: $light
            margin-bottom: 10px
        &__button
            order: 2
    .input
        height: 40px
    

@media (max-width:320px)
    .container
        width: 87%
    .logo
        width: 99px

    .hotel
        padding-top: 3px
        &-info
            margin-bottom: 18px

        .swiper-slide
            height: 190px

        &__slider
            margin-bottom: 20px
            height: 180px
    .booking
        &__text
            font-size: 11px
    .newsletter
        padding: 12px 0 81px 0
        &-title
            font-size: 21px
            margin-bottom: 37px
            &__strong
                font-size: 31px

        .subscribe
            width: 100%

    .reviews
        &__title
            width: 245px
            font-size: 18px
            line-height: 23px
        &-slider 
            &__profile
                margin-top: -48px
            &__text
                height: auto


    .activites
        padding-top: 25px
        &__title
            font-size: 18px
            margin-bottom: 33px
 
   
    .footer
        padding: 70px 0 20px
        &__title
            font-size: 14px
            line-height: 1
        &-wrapper
            grid-template-columns: 1fr
            margin-bottom: 30px
        &__logo
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
        &__additional
            grid-row: 3
            grid-column: 1
        &__categories
            grid-row: 4
            grid-column: 1
        &__legal
            grid-row: 5
            grid-column: 1
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1
        &__input
            flex-basis: 100%
        &__message
            flex-basis: 100%
        &__button
            order: 2
        &__info
            flex-basis: 100%
            margin-bottom: 15px
        &__bottom
            flex-wrap: wrap
            &-item
                margin-right: 9px
    


    
