.thank
    display: flex
    flex-direction: column
    justify-content: center
    padding: 100px 0 100px
    &__title
        font-size: 40px
        line-height: 1px
        margin-bottom: 50px
    .button
        margin: 0 auto
        &__thank
            font-size: 14px
        .thank
            &__link
                color:  $light
                padding: 15px 40px   